body {
    margin: 0;
    padding: 0;
    background: lightblue;
}

.img-cont {
    padding: 2%;
    background-color: red;
    width: 15%;
    margin: auto;
}

img {
    width: 100%;
}

.page-desc {
    text-align: center;
    background-color: red;
}

.proj-memb {
    text-align: center;
    background-color: red;
}

.proj-memb ul {
    display: flex;
    justify-content: center;
}

.proj-memb li {
    list-style: none;
    margin-right: 25px;
}