

.navHeader {
    background-color: white;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
    position: fixed;
     top: 0;
     height: 50px;
    width: 100%;
    align-items: center;
}
    .navLinks {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;    
    }
    
    .navLinks li {
    list-style: none;
    padding: 0;
    }
    
/* Color selections: white, #f7fff7,#292f36, #4ecdc4, #ff6b6b, #ffe66d,   */

body {
    margin: 0;
    padding: 0;
    background: lightblue;
    font-family: 'PT Serif', serif;
}

.img-cont {
    padding: 2%;
    background-color: red;
    width: 15%;
    margin: auto;
}

.img-west {
    padding: 2%;
    background-color: red;
    width: 65%;
    margin: auto;
}

img {
    width: 100%;
}

.page-desc {
    text-align: center;
    background-color: red;
}

.proj-memb {
    text-align: center;
    background-color: red;
}

.proj-memb ul {
    display: flex;
    justify-content: center;
}

.proj-memb li {
    list-style: none;
    margin-right: 25px;
}

.city-summary {
    text-align: center;
    background-color: gray;
    width: 65%;
    margin: auto;
}

.activity-img {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;

}

.activity-card {
    display: flex;
    align-items: center;
    width: 65%;
    margin: auto;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 8px grey;
    background-color: whitesmoke;
}

.activity-section>h3 {
    width: 65%;
    margin: 20px auto 0px auto;
    text-align: center;
    background-color: black;
    box-shadow: 0 0 8px grey;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
   
   
