body {
    margin: 0;
    padding: 0;
    background: lightblue;
}


.img-cont {
    padding: 20px;
    background-color: red;
    width: 30%;
    margin: auto;
    
}

img {
    margin: auto;
    display: block;
    width: 35%;
}



.activity-img {
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    
}

.activity-card {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 8px grey;
    background-color: whitesmoke;
}

.activity-section>h3 {
    width: 50%;
    margin: 20px auto 20px auto;
    text-align: center;
}

